@import "./../../../assets/less/_global-colors.less";

.ws-toolbar {
  .mui-toolbar {
    background-color: @pure-shades-10;
  }
  height: 64px;
}

.ws-toolbar-title {
  max-width: 700px;
  padding-left: 50px;
  display: block;
  font-size: large;
  color: @pure-shades-0;
}

.mui-toolbar
.mui-toolbar-group{
  .ws-icon-right.mui-icon{
    color:@pure-shades-6;
  }
  .ws-left-nav-btn.mui-icon{
    color: @pure-shades-0;
  }
}
.ws-left-nav{
  .mui-paper-container{
    background-color: @pure-shades-10;
  }
}